# docker-compose environment variables
export PROJECT_NAME="openwebui"
export INSTANCE_ID=$(pwd | shasum -a 1 | awk '{print $1}' | cut -c 1-12) # Used to define docker volume path
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}_${INSTANCE_ID}

source ./scripts/load_docker_services_variables.sh
source ./.secret

export GLOBAL_LOG_LEVEL="INFO"
export DATABASE_URL="postgresql://postgres:password@localhost:${POSTGRES_PORT}/postgres"
export REDIS_URL="redis://localhost:${REDIS_PORT}/0"

export ENABLE_OLLAMA_API="false"
export ENABLE_OPENAI_API="true"
export ENABLE_CODE_EXECUTION="false"
export ENABLE_AUTOCOMPLETE_GENERATION="false"
export ENABLE_EVALUATION_ARENA_MODELS="false"
export ENABLE_TAGS_GENERATION="false"

export ENABLE_WEBSOCKET_SUPPORT="false"

export OPENAI_API_BASE_URLS="https://openrouter.ai/api/v1;http://localhost:${PIPELINES_PORT}"
export OPENAI_API_KEYS="${OPENROUTER_API_SECRET_KEY};li3bie6I"

export REDIS_URL="redis://localhost:${REDIS_PORT}/0"

export ENABLE_PERSISTENT_CONFIG="false"
